app/static/vid/SampleVideo_640x360_2mb.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/6.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/7.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/4.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/1.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/2.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/5.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/10.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/3.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/8.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/9.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/SampleVideo_1280x720_1mb.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/SampleVideo_720x480_2mb.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/11.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Contestant[[:space:]]Lakshmi[[:space:]]Keerti[[:space:]]Bhagi,[[:space:]]Sobha[[:space:]]Naidu[[:space:]]Awards[[:space:]]2021,[[:space:]]Hyderabad,[[:space:]]India-hK2bG0-ChDs-1080p-1649188001912[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Dhanasree[[:space:]]Thillana-zwrYHTyEMk8-360p-1649188625223[[:space:]](1).mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Dhanasree[[:space:]]Thillana-zwrYHTyEMk8-360p-1649188625223.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Video[[:space:]]from[[:space:]]-.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Anitha[[:space:]]Goud-Pwo_pl766Jk-1080p-1649188994457.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Contestant[[:space:]]Lakshmi[[:space:]]Keerti[[:space:]]Bhagi,[[:space:]]Sobha[[:space:]]Naidu[[:space:]]Awards[[:space:]]2021,[[:space:]]Hyderabad,[[:space:]]India-hK2bG0-ChDs-1080p-1649188001912.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Kuchipudi[[:space:]]Krishna[[:space:]]sabdam[[:space:]]by[[:space:]]Natya[[:space:]]Kaumudi[[:space:]]Anitha[[:space:]]Pallewar-TBdJXQWGXXk-480p-1649187421804.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Kuchipudi[[:space:]],Marakatha[[:space:]]by[[:space:]]Natya[[:space:]]kaumudi[[:space:]]Anitha[[:space:]]Pallewar..-eT9uVPF4HCA-1080p-1649187383159.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Y2Mate.is[[:space:]]-[[:space:]]Tillana[[:space:]](తిల్లాన)[[:space:]]by[[:space:]]Dancer[[:space:]]Lakshmi[[:space:]]Keerthi[[:space:]]Bhagi[[:space:]]excellent[[:space:]]performance[[:space:]]at[[:space:]]Nrutyotsav-Xj8kbrXC-Gw-1080p-1649187760228.mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Video[[:space:]]from[[:space:]]-(1).mp4 filter=lfs diff=lfs merge=lfs -text
app/static/vid/Video[[:space:]]from[[:space:]]-(2).mp4 filter=lfs diff=lfs merge=lfs -text
