<!DOCTYPE html>
<html lang="en">
<head>
  <title>Events</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="scripts/js/index.js"></script>

<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    </style>
</head>
<body>
  
  <nav class="navbar navbar-inverse nav_grad">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="nav_f navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
          <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
        </svg></a>
        <a class="nav_f navbar-brand" href="/" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">JAI ANANDHA SCHOOL OF DANCE</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav_ff nav navbar-nav">
          <li class="active"><a href="/events">Events</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/payment">Payment</a></li>
        </ul>
        <ul class="nav_ff nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Changing the text and images if you want, restart the website if you change the images and text -->
  <div class="box">
    <img src="static/jpg/1.jpg" alt="dnce6">
    <h2>1<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/2.jpg" alt="dnce6">
    <h2>2<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/3.jpg" alt="dnce6">
    <h2>3<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/4.jpg" alt="dnce6">
    <h2>4<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/5.jpg" alt="dnce6">
    <h2>5<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/6.jpg" alt="dnce6">
    <h2>6<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/7.jpg" alt="dnce6">
    <h2>7<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/8.jpg" alt="dnce6">
    <h2>8<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/9.jpg" alt="dnce6">
    <h2>9<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/10.jpg" alt="dnce6">
    <h2>10<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/11.jpg" alt="dnce6">
    <h2>11<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/12.jpg" alt="dnce6">
    <h2>12<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/13.jpg" alt="dnce6">
    <h2>13<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/14.jpg" alt="dnce6">
    <h2>14<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/15.jpg" alt="dnce6">
    <h2>15<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/16.jpg" alt="dnce6">
    <h2>16<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/17.jpg" alt="dnce6">
    <h2>17<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/18.jpg" alt="dnce6">
    <h2>18<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/19.jpg" alt="dnce6">
    <h2>19<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/20.jpg" alt="dnce6">
    <h2>20<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/21.jpg" alt="dnce6">
    <h2>21<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/22.jpg" alt="dnce6">
    <h2>22<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/23.jpg" alt="dnce6">
    <h2>23<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/24.jpg" alt="dnce6">
    <h2>24<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/25.jpg" alt="dnce6">
    <h2>25<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/26.jpg" alt="dnce6">
    <h2>26<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/27.jpg" alt="dnce6">
    <h2>27<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/28.jpg" alt="dnce6">
    <h2>28<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/29.jpg" alt="dnce6">
    <h2>29<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpg/30.jpg" alt="dnce6">
    <h2>30<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpeg/1.jpeg" alt="dnce6">
    <h2>31<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpeg/2.jpeg" alt="dnce6">
    <h2>32<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpeg/3.jpeg" alt="dnce6">
    <h2>33<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  <div class="box">
    <img src="static/jpeg/4.jpeg" alt="dnce6">
    <h2>34<br></h2>
    <h4><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam expedita aliquam provident ipsam neque culpa cupiditate quod inventore illum fugit quis, quam hic, consectetur doloremque voluptas officiis alias nobis.</h4>
  </div>
  

  
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>
