<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="static/js/index.js"></script>
<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

  </style>
</head>
<body>
  <nav class="navbar navbar-inverse nav_grad">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="nav_f navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
          </svg></a>
          <a class="nav_f navbar-brand" href="/" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">JAI ANANDHA SCHOOL OF DANCE</a>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav_ff nav navbar-nav">
          <li><a href="/events">Events</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/payment">Payment</a></li>
          <li><a href="/Student Information">Student Information</a></li>
        </ul>
        <ul class="nav_ff nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

<!-- Change the text and heading here, title and description  -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="ari_pods sections shadow-sm p-3 mb-5 bg-body rounded">
                <div class="section_container">
                    <div class="image">
                    <img src="static/jpg/1.jpg" alt="">
                </div>
                <div class="text">

                    <p class="title">AirPods</p>
                    <p class="description">AirPods will forever change the way you use headphones. Whenever you pull your AirPods out of the charging case, they instantly turn on and connect to your iPhone, Apple Watch, iPad, or Mac</p>
                </div></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="beats sections">
                <div class="section_container"><div class="image">
                    <img src="static/jpg/21.jpg" alt="">
                </div>
                <div class="text">
                    <p class="title">Beats</p>
                    <p class="description">Dre (Beats) is a leading audio brand founded in 2006 by Dr. Dre and Jimmy Iovine. Through its family of premium consumer headphones, earphones and speakers, Beats has introduced an entirely new generation to the possibilities of premium sound entertainment</p>
                </div></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="apple_watch sections">
                <div class="section_container">
                    <div class="image">
                        <img src="static/jpg/23.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="title">Apple Watch 6 </p>
                        <p class="description">Apple Watch Series 6 offers faster charging, completing a full charge in under 1.5 hours, and improved battery life for tracking certain workouts,</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="galaxy_buds sections">
                <div class="section_container">
                    <div class="image">
                        <img src="static/jpg/24.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="title">SAMSUNG <br>Galaxy Buds <span>PRO</span> </p>
                        <p class="description">Galaxy Buds Pro offer the best call quality from our buds yet, so you can feel confident you're connected and heard, no matter where you are</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</body>
</html>
